<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/master.css")
        script(src="https://kit.fontawesome.com/b639b9baf8.js")
        title Underline styling 
    body
        .container
            h1 Awesome title
            p
                |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, rerum eligendi quod dolor ad distinctio provident est molestiae consequuntur, blanditiis ipsam cumque sunt officiis? Deserunt, recusandae laboriosam rem optio quae minus? Nihil accusantium consequatur aspernatur. Rerum impedit excepturi adipisci sed?
            
            h2 Some subtitle
            
            p
                |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, rerum eligendi quod dolor ad distinctio provident est molestiae consequuntur, blanditiis ipsam cumque sunt officiis? Deserunt, recusandae laboriosam rem optio quae minus? Nihil accusantium consequatur aspernatur. Rerum impedit excepturi adipisci sed?
            p
                |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, rerum eligendi quod dolor ad distinctio provident est molestiae consequuntur, blanditiis ipsam cumque sunt officiis? <a href="#">Natus vel, dicta adipisci temporibus</a>
                |Deserunt, recusandae laboriosam rem optio quae minus? Nihil accusantium consequatur aspernatur. Rerum impedit excepturi adipisci sed?
            
            h2 Another subtitle
            p
                |Lorem, ipsum dolor sit amet consectetur adipisicing elit. <a href="#">Natus vel, dicta adipisci temporibus</a>   asperiores magni similique non ab dolorem eligendi enim velit dolore facilis fugiat doloremque illo cumque perferendis qui, animi aliquam. Omnis cum repudiandae repellendus dolorem cupiditate est reiciendis corporis, quam sunt dicta obcaecati explicabo consequatur necessitatibus eligendi atque!
        script(src="")